.body{
	font-family: 'Arial',sans-serif;font-weight:400;
}
.contentHolder {
	background: #ffffff ;
	background-size: 100% 100%;
	width:100%;
	height:100%;
	position:absolute;
	top: 0;
	left: 0;
    overflow: hidden;
}
#canvasWrapper{
	position: relative;left: 0;top: 0;
}

.contentbg{
    background: #ffffff;
    /*background: url(images/contentbg.png) no-repeat center;
    background-size: 100% 100%;*/
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
.hidden{
	display: none;
}
.topicName{font-size: 20px;position:absolute;top: 2.75%; left: 2%;text-transform: uppercase;font-weight: bold;display: block;} 
.supType{font-size: 20px;position:absolute;top: 9.4%; left: 2%;font-weight: bold;color: #fff;text-transform: uppercase;display: block;}
.instText{font-size: 20px;position:absolute;top:10%; left: 17.5%;font-weight: bold;color: #000000;display: block;}

.explanationDiv{display: none;width: 14.5%;height: 16.5%;position:absolute;top: 14.5%;left: 1.0%;background: #fff;border: 2px solid #CFCFCF;padding: 0.1%;overflow: auto;z-index: 9999;}
.heading{color: #DE3326; padding-bottom: 5px;font-weight: bold;}
.description{color:#000000;}

.topic-description{    position: absolute;    bottom: 3%;    left: 3%;}
.clipHolder{display: block;z-index: 999;}
